<!DOCTYPE html>
<html lang="pl">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="styles.css">
  <title>Wizualizacja Koordynatów</title>
</head>

<body>
  <div id="app">
    <div v-if="!initialized" class="initial-setup">
      <div>
        <label>
          Rozmiar siatki:
          <input type="number" v-model.number="gridSizeX" min="1" max="20" class="margin-input"> x
          <input type="number" v-model.number="gridSizeY" min="1" max="20" class="margin-input">
        </label>
      </div>

      <div>
        <h3>Dodane Kolory:</h3>
        <div v-for="(color, index) in colors" :key="color" class="color-item">
          <input type="color" v-model="colors[index]" @change="updateColor(index)" class="margin-input">
          <button @click="removeColor(index)">Usuń</button>
        </div>
      </div>

      <div>
        <label>
          Dodaj kolor:
          <input type="color" v-model="newColor" class="margin-input">
          <button @click="addColor">Dodaj</button>
        </label>
      </div>

      <div>
        <button @click="initializeGrid">Zainicjować Siatkę</button>
      </div>
    </div>
    <div v-else>

      <div class="grid-container" :style="gridStyles">
        <div class="grid-cell letters"></div>
        <div class="grid-cell number" v-for="i in gridSizeX" :key="i">{{ i }}</div>

        <div v-for="(letter, index) in getLetters" :key="letter" class="grid-row">
          <div class="grid-cell letters">{{ letter }}</div>
          <div class="grid-cell cell" v-for="i in gridSizeX" :key="i" :data-x="i" :data-y="index+1"
            :style="{ backgroundColor: getColor(i, index+1) }" @click="colorCell(i, index+1)"></div>
        </div>

      </div>

      <div class="controls">
        <div class="color-section">
          <div class="color-box" v-for="color in colors" :key="color"
            :style="{ backgroundColor: color, border: color === selectedColor ? '2px solid black' : '3px solid #ccc' }"
            @click="selectColor(color)"></div>

        </div>

        <div class="coordinate-section">
          <input type="text" v-model="coordinateInput" placeholder="Wprowadź koordynaty (np. A11)"
            @keyup.enter="applyCoordinate">
        </div>
      </div>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
  <script src="script.js"></script>
</body>

</html>
