<!DOCTYPE html>
<html lang="pl">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="styles.css">
  <title>Wizualizacja Koordynatów</title>
</head>

<body>
  <div id="app">
    <div v-if="!initialized">
      <div>
        <label>
          Rozmiar siatki:
          <input type="number" v-model.number="gridSizeX" min="1" max="20"> x
          <input type="number" v-model.number="gridSizeY" min="1" max="20">
        </label>
      </div>

      <div>
        <label>
          Dodaj kolor:
          <input type="color" v-model="newColor">
          <button @click="addColor">Dodaj</button>
        </label>
      </div>

      <div>
        <button @click="initializeGrid">Zainicjować Siatkę</button>
      </div>
    </div>

    <div v-else>

      <div class="grid-container">
        <div class="grid-cell letters"></div>
        <div class="grid-cell number" v-for="i in gridSizeY" :key="i">{{ i }}</div>

        <div class="grid-row" v-for="(letter, index) in getLetters" :key="letter">
          <div class="grid-cell letters">{{ letter }}</div>
          <div class="grid-cell cell" v-for="i in gridSizeY" :key="i" :data-x="index+1" :data-y="i"
            :style="{ backgroundColor: getColor(index+1, i) }" @click="colorCell(index+1, i)"></div>
        </div>

      </div>

      <div class="controls">
        <div class="color-section">
          <div class="color-box" v-for="color in colors" :key="color"
            :style="{ backgroundColor: color, border: color === selectedColor ? '2px solid black' : '3px solid #ccc' }"
            @click="selectColor(color)"></div>

        </div>

        <div class="coordinate-section">
          <input type="text" v-model="coordinateInput" placeholder="Wprowadź koordynaty (np. A11)"
            @keyup.enter="applyCoordinate">
        </div>
      </div>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
  <script src="script.js"></script>
</body>

</html>